*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
}

.help-btn {
  min-width: 50px;
  cursor: pointer;
  border: none;
}
.help-btn.active {
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.help-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 2;
}
.help-container.active {
  /* display: block; */
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.help-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.help {
  opacity: 0;
  width: 95%;
  max-width: 80%;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.help-container.active .help {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-help {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #f73ecccd;
  color: #fff;
}


/* Styles spécifiques pour .help */
.help {
  background-color: #eceaeaf0;
  color: #1b1b1b;
  z-index: 999;
}

.help h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #008494;
}
.help h3{
  color: #003840;
}

.help p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1em;
}

.help ul {
  margin-left: 20px;
  list-style-type: disc;
}

.help ul li {
  margin-bottom: 10px;
}

/* Styles spécifiques pour .settings */
/* .settings {
  background-color: #eceaeaf0;
  color: #1b1b1b;
} */

.settings-btn {
  min-width: 50px;
  cursor: pointer;
  border: none;
}
#settings_btn{  
  padding: 10px 14px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 50px;
}
#help_btn{  
  padding: 10px 14px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right:10px;
}

.settings-btn.active {
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.settings-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 2;
}
.settings-container.active {
  /* display: block; */
  visibility: visible;
}


.settings-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.settings {
  opacity: 0;
  width: 95%;
  max-width: 80%;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.settings-container.active .settings {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-settings {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #f73ecccd;
  color: #fff;
}


/* Styles spécifiques pour .help */
.settings {
  background-color: #eceaeaf0;
  color: #1b1b1b;
}

.settings h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #008494;
}
.settings h3{
  color: #003840;
}

.settings p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1em;
}

.settings ul {
  margin-left: 20px;
  list-style-type: disc;
}

.settings ul li {
  margin-bottom: 10px;
}