body {
    width: 100vw;
    height: 98.3vh;
    margin: 0;
    padding: 0;
}
#game{
    background: radial-gradient(circle, #00bcd4, #00a9bf, #0096aa, #008494, #00717f, #005e6a, #004b55, #003840, #00262a, #001315);
    width: 100%;
    height: 98.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: 0;
    padding: 0;
}
#endGame{
    width: 100%;
    height: 98.3%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
        display: none;
}
.hidden{
    display: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
.links{
    display: flex;
    flex-direction: row;
    width: 10%;
    gap: 2%;
}
.links img{
    cursor: pointer;
    color: black;
}
.rien{
    width: 20%;
}

.jeu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 900px;
}
.jeu h2{
    font-size: 35px;
}

.btn-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 80%;
}
.btn-options button{
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100px;
    overflow: hidden;
    cursor: pointer;
}
.btn-options button img{
    width: 100%;
    height: fit-content;
}
#eraser:active{
    cursor: url('eraser.png'), auto;
}
/* .btn-level{} */

.btn-level button{
    margin: 10px;
    background-color: rgb(206, 106, 25);
    border: none;
    border-radius: 5%;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
}



.sudoku-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}
.hidden{
    display: none;
}


.proposition{
    background-color: #0013152b;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    border-radius: 20px;
}

.carrePropal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 150px;
    height: 150px;    
    margin-bottom: 2vh;
    cursor: grab;
}
.carrePropal button{
    cursor: grab;
}
.carrePropal button:active{
    cursor: grabbing;
}

.proposition.h2{
    position: absolute;
    left: 70%;
    top: 40%;
    width: 150px;
    height: 150px;
}


.infos{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 10%;    
}
.chrono{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 30px;
}
.temps{
    display: flex;
    flex-direction: row;
}
.detailsG{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infos .temps img{
    width: 60px;
    height: 60px;
    margin: 10px 50px 0 0;
}
/* pc responsive */
@media (max-width: 2000px) {
    .proposition{
        width: 300px;
    }
    .carrePropal {
        width: 200px;
        height: 200px;
    }
  }
@media (max-width: 1600px) {
    .rien {
      width: 15%; /* Rétrécir la largeur de .rien progressivement */
    }
  }
  @media (max-width: 1400px) {
    .rien {
      width: 10%; /* Rétrécir la largeur de .rien progressivement */
    }
    .proposition{
        margin: 0;
    }
  }
  @media (max-width: 1200px) {
    .rien {
      width: 0%; /* Rétrécir la largeur de .rien progressivement */
    }
    .sudoku-container{
        width: 90%;
        height: 70%;
    }
    .infos{
        gap: 10px;
        justify-content: center;
    }
    .infos .temps img{
        width: 50px;
        height: 50px;
        margin: 10px 20px 0 0;
    }
  }
  @media (max-width: 1000px) {
    .btn-options button {
        width: 75px;
        height: 75px;
    }
    .sudoku-container{
    width: 80%;
    height: 70%;
}
    .jeu h2{
        font-size: 25px;
    }
    body{
        flex-direction: column;
    }
    .tps{
        display: none;
    }
    .infos{
        margin: 0;
        height: fit-content;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .carrePropal {
        display: flex;
        flex-direction: row;
        width: 450px;
        height: 50px;
        padding: 10px;
        margin: 0;
    }
    .carrePropal button{
        width: 100px;
        height: 50px;
    }
    .proposition{
        margin: 0;
        padding: 0.5%;
        width: fit-content;
        height: fit-content;
    }
    .proposition h2{
        display: block;
        font-size: 1.5em;
        margin: 0;
        padding: 5px;
        font-weight: bold;
        unicode-bidi: isolate;       
    }
    body{
        justify-content: space-between;
    }
    
  }
  @media (max-width: 750px) {
    .sudoku-container{
        width: 70%;
        height: 60%;
    }
    .btn-options{
        justify-content: space-evenly;
    }
  }
  @media (max-width: 650px) {
    .sudoku-container{
        width: 60%;
        height: 52%;
    }
  }
  @media (max-width: 550px) {
    .sudoku-container{
        width: 50%;
        height: 45%;
    }
  }
/* phone responsive */

@media (max-width: 450px) {
    body{
        display: flex;
        justify-content: flex-start;
        height: fit-content;
        align-items: center;
        height: 95%;
        width: 95%;
        gap: 100px;
    }
    .sudoku-container{
        width: 80%;
        height: 400px;
    }
    .carrePropal button{
        width: 40px;
        height: 40px;
    }
    .carrePropal{
        justify-content: center;
        width: 380px;
    }
    .proposition{
        width: 375px;
    }
    .jeu{
        width: 400px;
        height: 500px;
        margin-left: 1%;
    }
    .infos{
        width: 400px;
    }
  }
  @media (max-width: 400px) {
    body{
        height: 800px;
        width: 95%;
    }
    .sudoku-container{
        width: 350px;
    }
  }
  @media (max-height: 700px) {
    .sudoku-container{
        width: 75%;
        height: 65%;
    }
    .carrePropal{
        width: 360px;
    }
    .infos{
        width: 380px;
        margin-top: -20%;
    }
    .jeu{
        width: 380px;
        margin-top: -30%;
    }
    .body{
        height: 600px;
        width: 350px;
        margin: 0;
        gap: 0;
        padding: 0;
    }
    html{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        gap: 0;
        padding: 0;
    }
  }